@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #31328A;
    background-color: rgba(62, 159, 244, 1);
    margin: 0;
    max-width: 1200px
}

body::before {
    z-index: -1;
    width: 100%;
    content: '';
    position: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    background-image: linear-gradient(5deg, #31328A, #FFFFFF);
}

header {

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    
    padding-left: 30px;
    font-size: 29px;
}

ul {
    padding: 0;
    margin: 
}

li {
    font-weight: bolder;
    font-size: 20px;
    padding: 15px;
}

li {
    display: inline-block;
    list-style: none;
}

li a {
    padding: 10px;
    text-decoration: none;
    color: #0e2a6f;
}

li a:hover {
    background-color:  rgba(0,0,0,0.4);
    border-radius: 10px;
    transition: all 300ms;    
}

figure {
    display: flex;
    width: 0;
    margin: 10px;
}

img {
    display: flex;
    width: 723px;
    
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}


.login {
    display: flex;
    flex-direction: row;
}



form {
    display: block;
    margin: 10px;
    background-color: white;
    padding: 30px;
    width: 370px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    font-size: auto;
}

h2 {
    text-align: center;
}

.form-group {
    padding: 9px;
}

input, label {
    font-family: inherit;
    font-size: inherit;
}

.formal-input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 5px;
    color: #495057;
    background-color: #fff;
    margin: 0;
    border: 1px solid #ced4da;
    border-radius: 10px;
}

.button-submit {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #31328A;
}

.button-submit {
    color: white;
    font-family: inherit;
    font-size: inherit;
}

button {
    border: none;
}